{% extends "layouts/base.html" %}

{% block title %} Carga de actividades {% endblock %} 

{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

<section class="section" id="">
           
    <h2 class="tituloSection">
        ACTIVIDADES ADMISIONADAS
    </h2>

    <div class = "bloqueTabla">
        <table id="tablaActividadesAdmisionadas">
            <caption>
                <h2>
                    Actividades admisionadas
                </h2>
            </caption>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Regional</th>
                    <th>Fecha servicio</th>
                    <th>Nombre Actividad</th>
                    <th>Diagnóstico Principal</th>
                    <th>Tipo Documento</th>
                    <th>Documento Paciente</th>
                    <th>Nombre Paciente</th>
                    <th>Carga</th>
                    <th>Admisión</th>
                    <!-- <th>Inconsistencias</th> -->
                    <!-- <th>Gestion</th> -->
                </tr>
            </thead>
           
        </table>
    </div>
    
    

    
</section>


  
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="../../static/assets/js/cargarActividadesAdmisionadas.js"></script>
{% endblock javascripts %}
