{% extends "layouts/base.html" %}

{% block title %} Home {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="administrador">
        {% include 'includes/btn_volver.html' with href='/' label='Volver al inicio' %}
        <div class="myIndex">
            <ul>
                <li><a href="{% url 'cargar_configuracion_arranque' %}">Cargar configuración de arranque</a></li>
                <li><a href="/admin/">Administrador Django</a></li>
                <li><a href="{% url 'tipos_actividad' %}">Tipos de Actividades o Servicios</a></li>
                <li><a href="{% url 'vista_areas_programa' %}">Áreas / Programas</a></li>
                <li><a href="{% url 'parametros_area_programa' %}">Parametros Area o Programa</a></li>
                <li><a href="{% url 'vista_contratos_marco' %}">Contratos Marco</a></li>
                <li><a href="{% url 'vista_medicos' %}">Médicos</a></li>
            </ul>
            
        </div>
        <div>
            <p class="mensaje">
                {{mensaje_configuracion_arranque}}
            </p>
        </div>
    </div>
  
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
