{% extends "layouts/base.html" %}

{% block title %} Home {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="administrador">
        <div class="myIndex">
            <ul>
                <li><a href="/cargarConfiguracionArranque/" >Cargar configuración de arranque </a></li>
                <li><a href="/admin/">Administrador Django</a></li>
                <li><a href="/tiposActividad/">Tipos de Actividades o Servicios</a></li>
                <li><a href="/parametrosAreaPrograma/">Parametros Area o Programa</a></li>
            </ul>
            
        </div>
        <div>
            <p class="mensaje">
                {{mensaje_configuracion_arranque}}
            </p>
        </div>
    </div>
  
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
