{% extends "layouts/base.html" %}

{% block title %} Tipos actividades {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="tipoActividad">
    <h2>
        Cargar Tipos de actividad Marco
    </h2>
    <div class="myForm">
        <fieldset>
            <legend>Tipos de Actividad</legend>
    
            <div class="campo">
                <label for="grupoActividadMarco">Grupo:</label>
                <input type="text" id = "grupoActividadMarco" />
            </div>
            <div class="campo">
                <label for="nombreActividadMarco">Nombre:</label>
                <input type="text" id = "nombreActividadMarco" />
            </div>
            <div class="campo">
                <label for="cupsActividadMarco">Cups:</label>
                <input type="text" id = "cupsActividadMarco" />
            </div>
            <div class="campo">
                <label for="responsableActividadMarco">Responsable:</label>
                <input type="text" id = "responsableActividadMarco" />
            </div>
            <div class="campo">
                <label for="diagnosticoActividadMarco">Diagnóstico:</label>
                <input type="text" id = "diagnosticoActividadMarco" />
            </div>
            <div class="campo">
                <label for="finalidadActividadMarco">Finalidad:</label>
                <input type="text" id = "finalidadActividadMarco" />
            </div>
            <div class="campo">
                <label for="fuenteActividadMarco">Fuente:</label>
                <input type="text" id = "fuenteActividadMarco" />
            </div>
            <div class="campo">
                <label for="observacionActividadMarco">Observación:</label>
                <input type="text" id = "observacionActividadMarco" />
            </div>
            <div class="campo">
                <label for="entregaActividadMarco">Entrega:</label>
                <input type="text" id = "entregaActividadMarco" />
            </div>
            <div class="campo">
                <label for="tipoServicioActividadMarco">Tipo de Servicio:</label>
                <input type="text" id = "tipoServicioActividadMarco" />
            </div>
            
            <div class="campo">
                <label for="unidadFuncionalMarco">Unidad funcional:</label>
                <input type="text" id = "unidadFuncionalMarco" />
            </div>

            <div class="campo">
                <label for="contratoGeneral">Contrato:</label>
                <input type="text" id = "contratoGeneral" />
            </div>
           
            <div class="campo">
                <button class="myBtn">Cargar</button>
            </div>
    
    
    
            
        </fieldset>
    </div>
    
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}

   