{% extends "layouts/base.html" %}

{% block title %} Carga de actividades {% endblock %} 

{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

<section class="section" id="sectionCargaActividades">
           
    <h2 class="tituloSection">
        CARGA MASIVA DE ACTIVIDADES
    </h2>

    <div class="bloqueCargaArchivo">
        
        <div class="enlaceDescargaArchivo">
            <a class="mylink" href="/descargarArchivo/forma_carga_actividad_plantilla.xlsx" download>📥Formato de carga</a>
        </div>
        <div>
            <label for="archivoMasivoActividades" class="">Subir archivo</label>
            <input type="file" id="archivoMasivoActividades" accept=".xlsx">
            <button id="btnCargarActividadesArchivo">Cargar</button>
        </div>
        <div>
            <label for="observacion_carga" class="">Observación</label>
            <textarea type="text" id="observacion_carga" name="observacion_carga" rows="4" cols="40"></textarea>
        </div>
        
    </div>
   
    
    <div class = "bloqueTabla">
        <table id="tablaActividadesSubir">
            <caption>
                <h2>
                    Actividades a procesar
                </h2>
            </caption>
            <thead>
                <tr>
                    <th>Tipo identificación</th>
                    <th>Número de identificación</th>
                    <th>Primer Apellido</th>
                    <th>Segundo Apellido</th>
                    <th>Primer nombre</th>
                    <th>Segundo nombre</th>
                    <th>Regional</th>
                    <th>Fecha servicio</th>
                    <th>Nombre</th>
                    <th>Ciex</th>
                    <th>Identificación Médico</th>
                    <th id="estadoCargue">Estado Cargue</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="">
        <button id="btnEnviarCargaActividades">Procesar</button>
        
    </div>
    <div class="infoResultados">
        
    </div>
</section>


  
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
