{% extends "layouts/base.html" %}

{% block title %} Tipos actividades {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div>
    <h2>
        Cargar Tipos de actividad Marco
    </h2>
    <fieldset>
        <legend>Tipos de Actividad</legend>

        <div>
            <label for="grupoActividadMarco">Grupo:</label>
            <input type="text" id = "grupoActividadMarco" />
        </div>
        <div>
            <label for="nombreActividadMarco">Nombre:</label>
            <input type="text" id = "nombreActividadMarco" />
        </div>
        <div>
            <label for="cupsActividadMarco">Cups:</label>
            <input type="text" id = "cupsActividadMarco" />
        </div>
        <div>
            <label for="responsableActividadMarco">Responsable:</label>
            <input type="text" id = "responsableActividadMarco" />
        </div>
        <div>
            <label for="diagnosticoActividadMarco">Diagnóstico:</label>
            <input type="text" id = "diagnosticoActividadMarco" />
        </div>
        <div>
            <label for="finalidadActividadMarco">Finalidad:</label>
            <input type="text" id = "finalidadActividadMarco" />
        </div>
        <div>
            <label for="fuenteActividadMarco">Fuente:</label>
            <input type="text" id = "fuenteActividadMarco" />
        </div>
        <div>
            <label for="observacionActividadMarco">Observación:</label>
            <input type="text" id = "observacionActividadMarco" />
        </div>
        <div>
            <label for="entregaActividadMarco">Entrega:</label>
            <input type="text" id = "entregaActividadMarco" />
        </div>
        <div>
            <label for="tipoServicioActividadMarco">Tipo de Servicio:</label>
            <input type="text" id = "tipoServicioActividadMarco" />
        </div>

        <div>
            <label for="contratoGeneral">Contrato:</label>
            <input type="text" id = "contratoGeneral" />
        </div>
        <div>
            <button>Cargar</button>
        </div>



        
    </fieldset>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}

   