{% extends "layouts/base.html" %}

{% block title %} Home {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="myIndex">
        <ul>
            <li><a href="/vistaCargaActividades/">Carga de actividades </a></li>
            <li><a href="/informeCargas/" target="">Informe Cargas</a></li>
            <!-- <li><a href="/vistaGrabarAdmisiones/">Grabar admisiones</a></li> -->
            <li><a href="/vistaActividadesAdmisionadas/">Actividades admisionadas</a></li>
            <li><a href="/vistaActividadesInconsistencias/">Actividades con inconsistencias</a></li>
            <!-- <li><a href="/vistaListadoAdmisiones/">listado admisiones</a></li> -->
            <!-- <li><a href="/cargarTiposActividad/">Cargar tipos de actividades</a></li> -->
            <li><a href="/consultasZeus/">Consultas Zeus</a></li>
            <li><a href="/administrador/" target="">Administrador</a></li>
            <!-- <li><a href="/perfilUsuario/">Perfil usuario</a></li> -->
        </ul>
    </div>
  
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
