{% extends "layouts/base.html" %}

{% block title %} Home {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="myIndex">
        <ul>
            <li><a href="{% url 'vista_carga_actividades' %}">Carga de actividades </a></li>
            <li><a href="{% url 'informe_cargas' %}">Informe Cargas</a></li>
            <!-- <li><a href="{% url 'vista_grabar_admisiones' %}">Grabar admisiones</a></li> -->
            <li><a href="{% url 'vista_actividades_admisionadas' %}">Actividades admisionadas</a></li>
            <li><a href="{% url 'vista_actividades_inconsistencias' %}">Actividades con inconsistencias</a></li>
            <!-- <li><a href="{% url 'cargar_tipos_actividad' %}">Cargar tipos de actividades</a></li> -->
            {% if request.user.is_staff %}
            <li><a href="/consultasZeus/">Consultas Zeus</a></li>
            <li><a href="{% url 'vista_administrador' %}">Administrador</a></li>
            {% endif %}
            <!-- <li><a href="/perfilUsuario/">Perfil usuario</a></li> -->
        </ul>
    </div>
  
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
