{% extends "layouts/base.html" %}

{% block title %} Home {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="infoCargas">
        <div class = "bloqueTabla">
            <table id="tablaCargas">
                <caption>
                    <h2>
                        Cargas 
                    </h2>
                </caption>
                <thead>
                    <tr>
                        <th>ID Carga</th>
                        <th>Usuario</th>
                        <th>Estado</th>
                        <th>Total Actividades</th>
                        <th>Actividades inconsistencias</th>
                        <th>Actividades para admisionar</th>
                        <th>Actividades admisionadas</th>
                        <th>Tiempo carga inicial</th>
                        <th>Created</th>
                        <th>Updated</th>
                        <th>Exportar</th>
                        <th>Ver</th>
                        <!-- <th>Ejecutar</th> -->
                    </tr>
                </thead>
                <tbody>
                    {% for carga in cargas %}
                    <tr>
                        <td>{{carga.id}}</td>
                        <td>{{carga.usuario}}</td>
                        <td>{{carga.estado}}</td>
                        <td>{{carga.cantidad_actividades}}</td>
                        <td>{{carga.cantidad_actividades_inconsistencias}}</td>
                        <td>{{carga.cantidad_actividades_ok}}</td>
                        <td>{{carga.cantidad_actividades_admisionadas}}</td>
                        <td>{{carga.tiempo_procesamiento|stringformat:"1.2f"}} min</td>
                        <td>{{carga.created_at}}</td>
                        <td>{{carga.updated_at}}</td>
                        <td><a href="/exportarCargaExcel/{{carga.id}}/all"><img width="30" height="30" src="https://img.icons8.com/officel/80/ms-excel.png" alt="ms-excel"/></a></td>
                        {% if carga.estado == "procesada" %}
                            <td><span class = "iconosGestion"><a href="/verCarga/{{carga.id}}/1">👁️</a></span></td>
                        {% elif carga.estado == "cancelada" %}
                            <td><span class = "iconosGestion">❌</span></td>
                        {% else %}
                            <td><span class = "iconosGestion">🕰️</span></td>
                        {% endif %}
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
  
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
