{% extends "layouts/base.html" %}

{% block title %} Home {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    

    <div class="bloqueTiposActividad">
        <div class = "bloqueTabla">
            <table id="tablaTiposActividad">
                <caption>
                    <h2>
                        Cargas 
                    </h2>
                </caption>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Grupo</th>
                        <th>Nombre</th>
                        <th>Cups</th>
                        <th>Responsable</th>
                        <th>Diagnóstico</th>
                        <th>Finalidad</th>
                        <th>Fuente</th>
                        <th>Observación</th>
                        <th>Entrega</th>
                        <th>Contrato</th>
                        <th>Tipo de servicio</th>
                        <th>area</th>
                       
                        
                    </tr>
                </thead>
                <tbody>
                    {% for tipo in tipos_actividad %}
                    <tr>
                        <td>{{tipo.id}}</td>
                        <td>{{tipo.grupo}}</td>
                        <td>{{tipo.nombre}}</td>
                        <td>{{tipo.cups}}</td>
                        <td>{{tipo.responsable}}</td>
                        <td>{{tipo.diagnostico}}</td>
                        <td>{{tipo.finalidad}}</td>
                        <td>{{tipo.fuente}}</td>
                        <td>{{tipo.observacion}}</td>
                        <td>{{tipo.entrega}}</td>
                        <td>{{tipo.contrato}}</td>
                        <td>{{tipo.tipo_servicio}}</td>
                        <td>{{tipo.area}}</td>
                
                       
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

  
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
