{% extends "layouts/base.html" %}

{% block title %} Home {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class = "bloqueBtn">
        <div class="mybtn"><a href="/admisionarActividadesCarga/{{carga.id}}" onclick="alert('🔃Admisiones en proceso!')">Admisionar actividades</a></div>
        <div class="mybtn"><a href="/eliminarActividadesInconsistenciaCarga/{{carga.id}}">Eliminar actividades con inconsistencias</a></div>
        <div class="mybtn"><a href="/exportarCargaExcel/{{carga.id}}"><img width="80" height="80" src="https://img.icons8.com/officel/80/ms-excel.png" alt="ms-excel"/></a></div>
        <div class="mybtn"><a href="/informeCargas/">🔙</a></div>
    </div>
    <div class = "bloqueTabla">
        <table id="tablaActividadesCargadas">
            <caption>
                <h2>
                    Actividades de la Carga {{carga.id}}
                </h2>
            </caption>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Regional</th>
                    <th>Fecha servicio</th>
                    <th>Nombre actividad</th>
                    <th>Diagnóstico</th>
                    <th>Tipo documento</th>
                    <th>Documento paciente</th>
                    <th>Nombre paciente</th>
                    <th>Admisión</th>
                    <th>Inconsistencias</th>
                    <th>Gestion</th>
                </tr>
    
            </thead>
            <tbody>
                {% for actividad in pagina.object_list %}
                <tr>
                    <td>{{actividad.id}}</td>
                    <td>{{actividad.regional}}</td>
                    <td>{{actividad.fecha_servicio}}</td>
                    <td>{{actividad.nombre_actividad}}</td>
                    <td>{{actividad.diagnostico_p}}</td>
                    <td>{{actividad.tipo_documento}}</td>
                    <td>{{actividad.documento_paciente}}</td>
                    <td>{{actividad.nombre_paciente}}</td>
                    <td>{{actividad.admision.numero_estudio}}</td>
                    <td>{{actividad.inconsistencias}}</td>
                    <td>
                        <div class="btns-gestion">
                            {% if actividad.admision %}
                                Admisionada
                            {% else %}
                                <span class = "mybtn-emoji"><a href="/admisionarActividadIndividual/{{actividad.id}}" title="Admisionar">🆙</a></span>
                                <span class = "mybtn-emoji"><a href="/eliminarActividadIndividual/{{actividad.id}}" title="Eliminar">🗑️</a></span>
                            {% endif %}
                            
                            

                        </div> 
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
    <div class = "bloquePaginacion">
        <nav class="nav_paginacion">
            <ul class="list_paginacion">
                {% if pagina_previa  %}
                <li class="list_paginacion__item"><a class="list_paginacion__link" href="/verCarga/{{carga.id}}/{{pagina_previa}}" >Previous</a></li>
                
                <!-- <li class="list_paginacion__item">
                    <a class="list_paginacion__link" href="">
                    {{pagina_previa}}
                    </a>
                </li> -->
                <li class="list_paginacion__item"><a class="list_paginacion__link" href="/verCarga/{{carga.id}}/1">1...</a></li>
                {% endif %}
                
                <li class="list_paginacion__item">
                    <a class="list_paginacion__link" href="">
                        <i>{{pagina.number}}*</i>
                    </a>
                </li>
                {% if pagina_siguiente <= total_paginas %}
                <li class="list_paginacion__item">
                    <a class="list_paginacion__link" href="/verCarga/{{carga.id}}/{{pagina_siguiente}}">
                        {{pagina_siguiente}}  
                    </a>
                </li>
                
                <li class="list_paginacion__item"><a class="list_paginacion__link" href="/verCarga/{{carga.id}}/{{total_paginas}}">...{{total_paginas}}</a></li>
                <li class="list_paginacion__item"><a class="list_paginacion__link" href="/verCarga/{{carga.id}}/{{pagina_siguiente}}">Next</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
   
  
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
