{% extends "layouts/base.html" %}

{% block title %} Home {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class = "bloqueBtn">
        <div class="mybtn"><a href="/admisionarActividadesCarga/{{carga.id}}" onclick="alert('🔃Admisiones en proceso!')">Admisionar actividades</a></div>
        <div class="mybtn"><a href="/eliminarActividadesInconsistenciaCarga/{{carga.id}}">Eliminar actividades con inconsistencias</a></div>
        <div class="mybtn"><a href="/informeCargas/">↩️</a></div>
    </div>
    <div class = "bloqueTabla">
        <table id="tablaActividadesCargadas">
            <caption>
                <h2>
                    Actividades de la Carga {{carga.id}}
                </h2>
            </caption>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Regional</th>
                    <th>Fecha servicio</th>
                    <th>Nombre actividad</th>
                    <th>Diagnóstico</th>
                    <th>Tipo documento</th>
                    <th>Documento paciente</th>
                    <th>Nombre paciente</th>
                    <th>Admisión</th>
                    <th>Inconsistencias</th>
                    <th>Gestion</th>
                </tr>
    
            </thead>
            <tbody>
                {% for actividad in actividades_carga %}
                <tr>
                    <td>{{actividad.id}}</td>
                    <td>{{actividad.regional}}</td>
                    <td>{{actividad.fecha_servicio}}</td>
                    <td>{{actividad.nombre_actividad}}</td>
                    <td>{{actividad.diagnostico_p}}</td>
                    <td>{{actividad.tipo_documento}}</td>
                    <td>{{actividad.documento_paciente}}</td>
                    <td>{{actividad.nombre_paciente}}</td>
                    <td>{{actividad.admision.numero_estudio}}</td>
                    <td>{{actividad.inconsistencias}}</td>
                    <td>
                        <div class="btns-gestion">
                            {% if actividad.admision %}
                                Admisionada
                            {% else %}
                                <span class = "mybtn-emoji"><a href="/admisionarActividadIndividual/{{actividad.id}}" title="Admisionar">🆙</a></span>
                                <span class = "mybtn-emoji"><a href="" title="Editar">📝</a></span>
                                <span class = "mybtn-emoji"><a href="/eliminarActividadIndividual/{{actividad.id}}" title="Eliminar">🗑️</a></span>
                            {% endif %}
                            
                            

                        </div> 
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
   
  
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
