<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <handlers>	
      	<add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\PROYECTOS\ZAGILAD\venv\Scripts\python.exe|C:\PROYECTOS\ZAGILAD\venv\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>

    <fastCgi>
      <application fullPath="C:\PROYECTOS\ZAGILAD\venv\Scripts\python.exe">
        <environmentVariables>
          <environmentVariable name="DJANGO_SETTINGS_MODULE" value="zagilad.settings" />
          <environmentVariable name="PYTHONPATH" value="C:\inetpub\wwwroot\zagildad" />
        </environmentVariables>
        <activityTimeout value="300" />
        <idleTimeout value="600" />
        <requestTimeout value="120" />
        <instanceMaxRequests value="5000" />
      </application>
    </fastCgi>

    <!-- Opcional: Configuración de rastreo para depuración -->
    <tracing>
      <traceFailedRequests>
        <add path="*" verb="*" statusCodes="400-599" />
      </traceFailedRequests>
    </tracing>
  </system.webServer>

  <appSettings>
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\zagildad" />
    <add key="WSGI_HANDLER" value="zagilad.wsgi.application" />
    <add key="DJANGO_SETTINGS_MODULE" value="zagilad.settings" />
  </appSettings>
    <location path="" overrideMode="Deny">
        <system.webServer>
        </system.webServer>
    </location>
    <location path="" overrideMode="Allow">
        <system.webServer>
            <directoryBrowse />
        </system.webServer>
    </location>
</configuration>

