.myHeader {
    position:sticky;
    top: 0;
    width: 100%;
    background: aquamarine;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 10vh;
    border: 2px solid blanchedalmond;
    -webkit-box-shadow: 26px 20px 68px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 26px 20px 68px -7px rgba(0,0,0,0.75);
    box-shadow: 26px 20px 68px -7px rgba(0,0,0,0.75);
    z-index: 1;
}

.myHeader div{
    display: flex;
    justify-content: center;
    width: 300px;
}

.myTitle {
    font-size: 30px;
}

.myTitle a{
    text-decoration: none;
    color: gray;
}

.myLogo img {
    width: 16rem;
    height: 4rem;
}

.myHeader .myIconoMenu {
    font-size: 40px;
    display: flex;
    justify-content: end;
    margin-right: 20px;
    align-items: center;
}

.myIconoMenu:hover{
    transform: scale(1.1);
}

.myIconoMenu .myUser {
    font-size: 20px;
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 5px;
}

.myLogo:hover {
    transform: scale(1.1);
}

.myTitle:hover {
    transform: scale(1.1);
}


@media (max-width: 1100px) {
    .myHeader .myTitle {
        display: none;
    }
}

@media (max-width: 700px) {
    .myHeader .myTitle {
        display: none;
    }
}
