.mybtn-emoji {
    font-size: 25px;
}

.mybtn-emoji a {
    text-decoration: none;
}

.mybtn-emoji:hover {
    font-size: 40px;
}

.btns-gestion {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: bisque;
    border: 1px solid black; */
}

.bloqueBtn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 0px 0px 0px;
    margin: 20px 0 40px 0;
    
}

.mybtn {
    border: 1px solid whitesmoke;
    border-radius: 20px;
    list-style: none;
    width: 20rem;
    height: 5rem;
    padding: 20px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    background: whitesmoke;
    color: gray;
    font-size: 20px;
    /* -webkit-box-shadow: 26px 20px 68px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 26px 20px 68px -7px rgba(0,0,0,0.75);
    box-shadow: 26px 20px 68px -7px rgba(0,0,0,0.75); */
    transition:all 1s cubic-bezier(0.075, 0.82, 0.165, 1)
}

.mybtn:hover {
    background: aquamarine;
    transform: rotate(10deg);
}
.mybtn a{
    text-decoration: none;
    color: gray;
}


.bloqueTablaResumenInconsistencias {
    width: 100% ;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.bloqueTablaResumenInconsistencias table {
    border: 0.5px solid gray;
    color: gray;
    border-collapse: collapse;
    margin: 20px;
    width: 90%;
 }