{% load static %}
<header class="myHeader">
    <div class="myLogo">
        <a href="/">
            <img src="{% static 'assets/img/SERSOCIAL_IPS_horizontal.png' %}" alt="Fundación SERSOCIAL IPS">
        </a>
    </div>
    <div class="myTitle">
        <a href="/">ZAGILAD</a>
    </div>
    <div class="myIconoMenu">
        {% if request.user.is_authenticated %}
        <span class="myUser">
            <i class="fa fa-user-circle" style="margin-right:5px;color:var(--azul-cielo)"></i>{{ request.user }}
        </span>
        <a href="{% url 'exit' %}" title="Cerrar sesión" class="myIconoMenu__salir">
            <i class="fa fa-sign-out"></i>
        </a>
        {% endif %}
    </div>
</header>
