<script
        src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
<script src="../../static/assets/js/datatable.js"></script>
<script src="../../static/assets/js/util.js"></script>
<script src="../../static/assets/js/peticionesHttp.js"></script>
<script src="../../static/assets/js/script.js"></script>
<script src="../../static/assets/js/cargarArchivos.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
