#seccionGrabarAdmisiones {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}

#seccionGrabarAdmisiones .bloqueTitulo {
    width: 100%;
    text-align: center;
}

#seccionGrabarAdmisiones .bloqueTabla {
    overflow-x: scroll;
}

#seccionGrabarAdmisiones .bloqueBoton {
    width: 100%;
    text-align: center;
    padding: 20px;
}




