{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Home {% endblock %} 

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'assets/css/login.css' %}">
{% endblock stylesheets %}

{% block content %}

<div class="login">
  <div class="login-body">

    <h6 class="login-mensaje" role="alert">
      {% if msg %}
        <span class="text-danger">{{ msg }}</span>
      {% else %}
        Ingresa tus credenciales
      {% endif %}
    </h6>

    <form class="login-formulario" method="post" action="" role="form">
      {% csrf_token %}

      <div class="login-username">
        <label for="{{ form.username.id_for_label }}">Usuario</label>
        {{ form.username }}
      </div>

      <div class="login-password">
        <label for="{{ form.password.id_for_label }}">Contraseña</label>
        {{ form.password }}
      </div>

      <div class="login-submit">
        <button type="submit" name="login" class="btnLog" id="btnLogin">Ingresar</button> 
      </div>
    </form>
  </div>
</div>

{% endblock content %}

{% block javascripts %}
{% endblock javascripts %}